[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "==2.3.1"
pylint = "==3.2.7"
mypy = "==1.11.2"
flake8 = "==7.1.1"
importlib-metadata = "==8.5.0"
toml = "==0.10.2"
types-toml = "==0.10.8.20240310"
setuptools = "==74.1.3"

[packages]
pyperclip = ">=1.5.27"
click = "==8.1.7"

[requires]
python_version = "3.12"
