[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "==2.1.1"
pylint = "==3.2.2"
mypy = "==1.10.0"
flake8 = "==7.0.0"
importlib-metadata = "==7.1.0"
toml = "==0.10.2"
types-toml = "==0.10.8.20240310"
setuptools = "==70.0.0"

[packages]
pyperclip = ">=1.5.27"
click = "==8.1.7"

[requires]
python_version = "3.12"
