[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "==2.7.4"
autopep8 = "==1.5.5"
mypy = "==0.812"

[packages]
pyperclip = ">=1.5.27"
click = "==7.1.2"
