---
name: dispatch-pr-format-sudden-death
on:
  push:
    branches:
      - master
permissions: {}
jobs:
  dispatch_pr_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false
      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: npm
          node-version-file: package.json
      - run: npm ci
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.PROJECT_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.PROJECT_AUTOMATION_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "hato-bot"
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{steps.generate_token.outputs.token}}
          script: |
            const {tsImport} = require('tsx/esm/api')
            const {default: {script}} = await tsImport(
              './scripts/dispatch_pr_format_sudden_death/dispatch_pr_format/dispatch_event.ts',
              process.env.GITHUB_WORKSPACE + '/'
            )
            await script(github, context)
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
