---
name: dispatch-pr-format-sudden-death
on:
  push:
    branches:
      - master
permissions: {}
jobs:
  dispatch_pr_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: npm
          node-version-file: package.json
      - run: npm ci
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.PROJECT_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.PROJECT_AUTOMATION_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: "hato-bot"
      - uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          github-token: ${{steps.generate_token.outputs.token}}
          script: |
            const {tsImport} = require('tsx/esm/api')
            const {default: {script}} = await tsImport(
              './scripts/dispatch_pr_format_sudden_death/dispatch_pr_format/dispatch_event.ts',
              process.env.GITHUB_WORKSPACE + '/'
            )
            await script(github, context)
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
