name: pr-copy-ci-sudden-death
on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  # hato-botのCIの差分がpushされたらPRを作成する
  pr-copy-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          path: sudden-death
          ref: ${{ github.sha }}
          persist-credentials: false
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
          repository: ${{ github.repository_owner }}/hato-bot
          path: hato-bot
          persist-credentials: false
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: npm
          cache-dependency-path: sudden-death/package-lock.json
          node-version-file: sudden-death/package.json
      - run: bash "${GITHUB_WORKSPACE}/sudden-death/scripts/pr_copy_ci_sudden_death/pr_copy_ci/npm_ci.sh"
        working-directory: sudden-death
      - name: Copy CI
        run: bash "${GITHUB_WORKSPACE}/sudden-death/scripts/pr_copy_ci_sudden_death/pr_copy_ci/copy_ci.sh"
      - name: Copy package.json
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const {tsImport} = require('tsx/esm/api')
            const {default: {script}} = await tsImport(
              './scripts/pr_copy_ci_sudden_death/pr_copy_ci/copy_package.ts',
              process.env.GITHUB_WORKSPACE + '/sudden-death/'
            )
            script()
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        with:
          app-id: ${{ secrets.PROJECT_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.PROJECT_AUTOMATION_PRIVATE_KEY }}
      - uses: dev-hato/actions-diff-pr-management@bda458eb55c11585595482e3ec7506b05632b5ec # v2.2.1
        with:
          github-token: ${{steps.generate_token.outputs.token}}
          branch-name-prefix: pr-copy-ci
          pr-title-prefix: hato-botのCIを反映するよ！
          working-directory: sudden-death
          exit-failure: "false"
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
