name: pr-copy-ci-sudden-death
on:
  workflow_dispatch:
  push:
    branches:
      - master
permissions: {}
jobs:
  # hato-botのCIの差分がpushされたらPRを作成する
  pr-copy-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          path: sudden-death
          ref: ${{ github.sha }}
          persist-credentials: false
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
          repository: ${{ github.repository_owner }}/hato-bot
          path: hato-bot
          persist-credentials: false
      - name: Set up Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          cache: npm
          cache-dependency-path: sudden-death/package-lock.json
          node-version-file: sudden-death/package.json
      - run: bash "${GITHUB_WORKSPACE}/sudden-death/scripts/pr_copy_ci_sudden_death/pr_copy_ci/npm_ci.sh"
        working-directory: sudden-death
      - name: Copy CI
        run: bash "${GITHUB_WORKSPACE}/sudden-death/scripts/pr_copy_ci_sudden_death/pr_copy_ci/copy_ci.sh"
      - name: Copy package.json
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            const {tsImport} = require('tsx/esm/api')
            const {default: {script}} = await tsImport(
              './scripts/pr_copy_ci_sudden_death/pr_copy_ci/copy_package.ts',
              process.env.GITHUB_WORKSPACE + '/sudden-death/'
            )
            script()
      - name: Generate a token
        id: generate_token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        with:
          app-id: ${{ secrets.PROJECT_AUTOMATION_APP_ID }}
          private-key: ${{ secrets.PROJECT_AUTOMATION_PRIVATE_KEY }}
      - uses: dev-hato/actions-diff-pr-management@9de3de40217217a73ac95f3751d7bfe1c9f23ead # v2.2.3
        with:
          github-token: ${{steps.generate_token.outputs.token}}
          branch-name-prefix: pr-copy-ci
          pr-title-prefix: hato-botのCIを反映するよ！
          working-directory: sudden-death
          exit-failure: "false"
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
