---
name: pr-test
on:
  pull_request:
    branches:
      - develop
      - master
  push:
    branches:
      - master
      - develop
permissions: {}
jobs:
  pr-super-lint:
    runs-on: ubuntu-latest
    permissions:
      statuses: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: "recursive"
          fetch-depth: 0
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7.3.0
        with:
          enable-cache: true
      - name: Install uv
        run: bash "${GITHUB_WORKSPACE}/scripts/uv_install.sh"
      - name: Set venv path
        env:
          DEST_PATH: "/home/runner/work/_temp/_github_workflow/.venv"
        run: bash "${GITHUB_WORKSPACE}/scripts/pr_test/pr_super_lint/set_venv_path.sh"
      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          cache: npm
          node-version-file: package.json
      - name: Install dependencies
        run: bash "${GITHUB_WORKSPACE}/scripts/pr_test/pr_super_lint/npm_ci.sh"
      - name: Lint files
        uses: super-linter/super-linter/slim@12562e48d7059cf666c43a4ecb0d3b5a2b31bd9e # v8.4.0
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_SQLFLUFF: false
          VALIDATE_CHECKOV: false # TODO: checkovが依存するopenaiのバージョンがアップデートされたら削除
          VALIDATE_JSCPD: false
          VALIDATE_TYPESCRIPT_STANDARD: false
          LINTER_RULES_PATH: .
          FILTER_REGEX_EXCLUDE: ".*assets/.*.txt"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          WORKON_HOME: ""
          PYTHONPATH: ${{ env.PYTHONPATH }}
          VALIDATE_GIT_COMMITLINT: false
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
          VALIDATE_TRIVY: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_PYTHON_RUFF_FORMAT: false
  pr-dotenv-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: "recursive"
          fetch-depth: 0
          persist-credentials: false
      - name: Lint dotenv
        uses: dotenv-linter/action-dotenv-linter@afde61cfda2ecffe7bea35837b6f20b956c88689 # v3.0.0
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
