---
name: pr-test
on:
  pull_request:
    branches:
      - develop
      - master
  push:
    branches:
      - master
      - develop
jobs:
  pr-super-lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: "recursive"
          fetch-depth: 0
          persist-credentials: false
      - name: Set up uv
        uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          enable-cache: true
      - name: Install uv
        run: bash "${GITHUB_WORKSPACE}/scripts/uv_install.sh"
      - name: Set venv path
        env:
          DEST_PATH: "/home/runner/work/_temp/_github_workflow/.venv"
        run: bash "${GITHUB_WORKSPACE}/scripts/pr_test/pr_super_lint/set_venv_path.sh"
      - name: Set up Node.js
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          cache: npm
          node-version-file: package.json
      - name: Install dependencies
        run: bash "${GITHUB_WORKSPACE}/scripts/pr_test/pr_super_lint/npm_ci.sh"
      - name: Lint files
        uses: super-linter/super-linter/slim@502f4fe48a81a392756e173e39a861f8c8efe056 # v8.3.0
        env:
          VALIDATE_ALL_CODEBASE: true
          VALIDATE_SQLFLUFF: false
          VALIDATE_CHECKOV: false # TODO: checkovが依存するopenaiのバージョンがアップデートされたら削除
          VALIDATE_JSCPD: false
          VALIDATE_TYPESCRIPT_STANDARD: false
          LINTER_RULES_PATH: .
          FILTER_REGEX_EXCLUDE: ".*assets/.*.txt"
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          DEFAULT_BRANCH: ${{ github.event.repository.default_branch }}
          WORKON_HOME: ""
          PYTHONPATH: ${{ env.PYTHONPATH }}
          VALIDATE_GIT_COMMITLINT: false
          VALIDATE_GITHUB_ACTIONS_ZIZMOR: false
          VALIDATE_TRIVY: false
          VALIDATE_BIOME_FORMAT: false
          VALIDATE_BIOME_LINT: false
          VALIDATE_PYTHON_RUFF_FORMAT: false
  pr-dotenv-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: "recursive"
          fetch-depth: 0
          persist-credentials: false
      - name: Lint dotenv
        uses: dotenv-linter/action-dotenv-linter@21287e2624aaf2dc8da5dd8ccfe8e49c63501116 # v2.25.0
concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true
